@charset "UTF-8";


.calculadora{
	background: linear-gradient(90deg,#ed7b7b,#76affa);
    max-width: 40%;
    margin-left: 25%;
    padding: 3%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-radius: 15px;
}

.boton-calculo{
    background: linear-gradient(90deg,#004aad,#cb6ce6);
    color: #f2ff00;
}

.boton-numerico{
    background: linear-gradient(90deg,#ffde59,#ff914d);
    color: black;
}

.boton-calculo,.boton-numerico{
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    border-radius: 100%;
    border: 20px;
    width: 75px;
    height: 80px;
    margin-bottom: 6%;
    margin-right: 2%;
}

#calculo{
    background-color: #fbffaf;
    width: 99.9%;
    height: 90px;
    border-radius: 20px;
    padding-top: 3.5%;
    padding-bottom: 1%;
    text-align: right;
    margin-bottom: 5%;
}

#operacion{
    color: #00bf63;
    font-size: 30px;
    margin-right: 5.5%;
}


#resultado{
    color: #a6a6a6;
    font-size: 15px;
    margin-right: 8.5%;
}

.boton-calculo:active,.boton-numerico:active{
	background: #a6a6a6;
}
