@charset "UTF-8";


#logo{
	width: 120px;
	height: 120px;
}

#caja{
	border: 5px solid white;
	background-color: black;
	padding: 150px;
	color: white;
	text-align: center;

}

#botones{
	margin-left: 120px;
}

.demo{
	text-align: center;
}